.jumbotron {
  height: 60px;
  padding: 0px;
  margin: 0px;
  background-color: #343a40;
}
.display-3 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.row {
  text-align: left;
}
#search-section {
  background-color: #f8f9fa;
  width: 100%;
  min-height: 1000px;
  min-width: 270px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
  padding-bottom: 10px;
}
h5 {
  margin-top: 30px;
}
.city-name {
  margin-bottom: 10px;
  background-color: white;
  font-size: 18px;
  padding: 2px;
}

#weather-appear-here-box {
  border: lightgrey;
  border-style: solid;
  padding-bottom: 40px;
  border-width: 1px;
  margin-right: 10%;
  max-width: 900px;
  margin-bottom: 20px;
}
.uv-div-green {
  background-color: green;
  border: green;
  color: white;
}
.uv-div-yellow {
  background-color: yellow;
  border: yellow;
}
.uv-div-orange {
  background-color: orange;
  border: orange;
  color: white;
}

.uv-div-red {
  background-color: red;
  border: red;
  color: white;
}
.uv-div-purple {
  background-color: violet;
  border: violet;
  color: white;
}

#five-div {
  border-color: #007bff;
  background-color: #007bff;
  color: white;
  border-style: solid;
  float: left;
  border-width: 1px;
  margin: 10px;
  padding: 5px;
  padding-right: 10px;
  min-width: 130px;
}
#new-search-button {
  width: 200px;
  text-align: left;
  background-color: white;
  border-width: 1px;
  font-size: 18px;
  padding: 5px;
}
